.normal {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contextmenu {
  position: absolute;
  z-index: 9999;
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(186, 186, 186);
  box-shadow: 1px 1px rgb(142, 142, 142);
  list-style: none;
  user-select: none;
  margin: 0;
  padding: 0;

  li {
    padding: 10px 15px;
    cursor: default;

    &.sec {
      border-bottom: 1px solid rgb(233, 233, 233);
      padding: 0;
    }

    &:hover {
      background-color: rgb(235, 235, 235);
    }
  }
}
