.normal {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tree {
  @extend .normal;
  // padding-top: 15px;

  .tree-node {
    @extend .normal;
    /*display: flex;*/
    /*padding: 5px;*/


    &-title {
      @extend .normal;
      padding: 5px 0;
      display: flex;
      justify-content: space-around;
      align-items: stretch;

      li {
        flex: 1;
        font-size: 1.4rem;
        &.tree-node-toggle,
        &.tree-node-icon,
        &.tree-node-tools {
          flex: 0 0 18px;
          color: #999;
        }

        &.tree-node-tools {
          flex: 0 0 24px;
        }

        // &.tree-node-icon{
        //   font-size: 1.4rem;
        // }
      }

      &:hover {
        background: rgba(234, 240, 251, .8);
      }
    }
  }

  .contextmenu{
    display: none;
    position: absolute;
    z-index: 9999;
    width: auto;
    height: auto;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(186,186,186);
    boshadow: 1px 1px rgb(142,142,142);
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      padding: 10px 15px;
      &.sec{
        border-bottom: 1px solid rgb(233,233,233);
        padding: 0;
      }
      &:hover{
        background-color: rgb(235,235,235);
      }
    }

  }
}

.loading{
  padding: 5px 15px;
}
